<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YMWaterWaveView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>040A51DC1E0BB2AD00652778</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>040A51F81E0BB2AD00652778</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>040A52031E0BB2AE00652778</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
